<ion-header>
  <ion-toolbar>
    <ion-title>
      Gallery App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="handleButtonClick()">Liked Pictures</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let image of galleryImages; let i = index">
        <ion-card>
          <ion-img [src]="image.url"></ion-img>
          <ion-card-content>
            <ion-card-title>
              {{ image.title }}
            </ion-card-title>
            <p>{{ image.description }}</p>
          </ion-card-content>
          <ion-row class="button-row">
            <ion-button (click)="updatePicture(i)">Update</ion-button>
            <ion-button color="danger" (click)="deletePicture(i)">Delete</ion-button>
            <button class="like-button" [ngClass]="{ liked: image.liked }" (click)="toggleLike(i)">
              <ion-icon name="heart"></ion-icon>
            </button>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="upload-button">
    <ion-button (click)="fileInput.click()">Add Picture</ion-button>
    <input type="file" accept="image/*" (change)="handleFileInput($event)" #fileInput style="display: none">
  </div>
</ion-content>
